{% extends 'base.html.twig' %}

{% block title %}Ouvrier{% endblock %}

{% block body %}
    <h1>Ouvrier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ouvrier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ouvrier.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ ouvrier.prenom }}</td>
            </tr>
            <tr>
                <th>Daten</th>
                <td>{{ ouvrier.daten ? ouvrier.daten|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ ouvrier.salaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ouvrier_index') }}">back to list</a>

    <a href="{{ path('app_ouvrier_edit', {'id': ouvrier.id}) }}">edit</a>

    {{ include('ouvrier/_delete_form.html.twig') }}
{% endblock %}
